<ul class="nav-navbar list-unstyled">
    <li class="nav-item">
        <h5 class="text-center py-3">LOGIN</h5>
        <form action="account/login" method="post" class="card border-tertiary mx-5 my-2 p-5">
            <label for="email"><h6>Email</h6></label><br>
            <input type="email" name="email" id="email" placeholder="email@example.com" 
            class="border border-warning bg-warning-subtle mx-5"><br>
            <button type="submit" class="btn btn-warning mx-5">SIGN IN</button>
        </form>
    </li>
    <li class="nav-item card border-dark m-5 mt-0 p-5">
        <h5 class="text-center border-top py-4">NEW CUSTOMER?</h5>
        <a href="account/register" class="btn border border-warning bg-warning-subtle mx-5">Create account</a>
    </li>
</ul>
