<div class="container mb-3 bg-secondary bg-gradient bg-opacity-10">
    <p>this is a header</p>
    
    <a href="/cart" class="btn btn-success position-relative">
        <i class="fa-solid fa-cart-shopping fa-2xl my-3"></i>
        <div class="position-absolute translate-middle bg-danger badge rounded-circle">4</div>        
    </a>
    <h1>donuts and sweets</h1>
</div>